@page 
@model ShiftModel 
@using gol_razor._GolManager
@using gol_razor.Models

@{ Layout="_Shiftlayout";


  var tmp_date = DateOnly.FromDateTime(Model.First_Last_Day[0]); 
  Pdate tmp_Pdate = new();
  int f_count= 0;
  var shamsi = new Shamsi();
  var g_today = DateTime.Now;
  var p_today= shamsi.ConvertToShamsi_Pdate(g_today);
  var today_tag = $"{p_today.day -1}-d";
  
  

}

<link rel="stylesheet" href="~/css/shift.css" />

<nav dir="rtl">
  <div class="today">
    <a href="#@today_tag">
      <button class="s-btn">برو به امروز</button>
    </a>
  </div>

  <div class="go-up">
    <img class="up-img" src="/arrow.svg" alt="" />
    <p>روز قبل</p>
  </div>

  <div class="go-to">
    <button class="s-btn">برو به</button>
    <select name="day" id="day">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
    <p>@p_today.MonthName</p>
  </div>
</nav>
<div class="top-space"></div>
<!--todo : get exact day of month insted of hard coding 31  -->
@{ for(int i =1; i <= @Model.DaysCount ; i++ ){

 
  tmp_Pdate= shamsi.ConvertToShamsi_Pdate(tmp_date.ToDateTime(TimeOnly.Parse("00:00:00")));

<div id="@i-card" class="shift-card">
  <div class="card-header">
    <p dir="rtl">
      <span style="color: red;" class="week">@tmp_Pdate.DayName</span>
      <span class="shamsi-date">@tmp_Pdate.Year/@tmp_Pdate.Month/<span style="color:red;" >@i</span></span>
      <span class="shamsi-month">@tmp_Pdate.MonthName ماه</span>
      <span class="gerigory-date" dir="ltr"> @tmp_date.ToString("yyyy/MM/dd") معادل قمری</span>
    </p>
  </div>
  <div class="shift-info" dir="rtl">
    <div class="shift-sec morning">
      <div class="shift-name">
        <p>صبح</p>
      </div>
      <div class="staff-names">
        @for(int j = 0 ; j < 9 ; j++)
        {

         
        <div class="staff-name">
          @try{
            <p>@Model.sd[tmp_date]["m"][j]</p>
          }
          catch{

            if(Model.sd[tmp_date].ContainsKey("f"))
            {
              if(Model.sd[tmp_date]["f"].Count>f_count){
                <p style="color: red;">@Model.sd[tmp_date]["f"][f_count]+ </p>
                f_count ++;    
              }
              else{
                <p>++</p>
              }
            }
         
          }
        </div>
      }
      </div>
    </div>

    <div class="shift-sec evening">
      <div class="shift-name">
        <p>عصر</p>
      </div>
      @{
        f_count=0;
      }
      <div class="staff-names">
        @for(int j = 0 ; j < 9; j++) {
          
        <div class="staff-name">
      @try{
            <p>@Model.sd[tmp_date]["e"][j]</p>
          }
          catch{

            if(Model.sd[tmp_date].ContainsKey("f"))
            {
              if(Model.sd[tmp_date]["f"].Count>f_count){
                <p style="color: red;">@Model.sd[tmp_date]["f"][f_count]+ </p>
                f_count ++;    
              }
              else{
                <p>++</p>
              }
            }
 
          }
        </div>

        }
      </div>
    </div>
    <div class="shift-sec night">
      <div class="shift-name">
        <p>شب</p>
      </div>

      <div class="staff-names">
        @for(int j = 0 ; j < 9; j++) {
        <div class="staff-name">
       @try{
            <p>@Model.sd[tmp_date]["n"][j]</p>
          }
          catch{
            <p>++</p>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
<div id="@i-d" class="down-space"></div>
f_count =0;
tmp_date=tmp_date.AddDays(1); } }
<div class="down">
  <p>روز بعد</p>
  <img class="down-img" src="/arrow.svg" alt="" />
</div>
